/* Headers, Titles */

.page-title{
    font-size: 45px;
}

.font-bold{
    font-weight: bold;
}

.table-responsive{
    width: 100% !important;
}

.table{
    width: 100%;
}

/* body{
    position: relative !important;
    width: 100% !important;
} */

#row1{
    padding-bottom: 120px;
}

footer{
    background-color: #a1a092;
    padding: 60px 0px;
    width: 100%;
}