/*General*/
.bod {
    background-image: url("https://66.media.tumblr.com/57be6bc2ad5acd652c5b6b84dc024b80/48b79ea402b0ee70-ec/s1280x1920/4cd45b8694849496062a7bc1d9197c1cabcafbc5.jpg");
    background-size: cover;
}

.font-bold{
    font-weight: bold;
}

/* Headers, Titles */

.page-title{
    font-size: 45px;
}

.table-responsive{
    width: 100% !important;
}

.table{
    width: 100%;
}

#row1{
    padding-bottom: 120px;
}

footer{
    background-color: #a1a092;
    padding: 60px 0px;
    width: 100%;
}

/*Login Reg*/

.tablehead {
    font-size: 30px;
    background-color: #06B10099;
}

/*Content*/

.cont .para{
    font-size: 18px;
    text-indent: 35px;
}

.cont .devicename{
    font-size: 25px;
    color: #003Ac3;
}

.cont img{
    max-width: 30%;
}

.profiles img{
    max-width: 50%;
}

.profiles .para{
    font-size: 16px;
}